@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik" sans-serif;
  src: url("/fonts/Rubik-Regular.ttf");
}
* {
  font-family: Rubik;
}
body {
  background-color: black;
}
@layer base {
  h1 {
    font-family: "Rubik";
    font-weight: 700;
    size: 32px;
    line-height: 30px;
  }
  h2 {
    font-family: "Rubik";
    font-weight: 700;
    size: 64px;
    line-height: 96px;
  }
  h3 {
    font-family: "Rubik";
    font-weight: 500;
    size: 24px;
    line-height: 31.2px;
  }
  h4 {
    font-family: "Rubik";
    font-weight: 500;
    size: 16px;
    line-height: 24px;
  }
  .p1-regular {
    font-family: "Rubik";
    font-weight: 400;
    size: 16px;
    line-height: 24px;
  }
  .p2-rubik {
    font-family: "Rubik";
    font-weight: 400;
    size: 16px;
    line-height: 24px;
  }
  .p2-regular {
    font-family: "Rubik";
    font-weight: 400;
    size: 32px;
    line-height: 30px;
  }
}

.headerLink {
  @apply text-white/80 cursor-pointer font-rubik shrink-0;
}

/* HERO SECTION BACKGROUND CIRCLE LIGHTS */

.gradient_bg_purple_hero {
  @media only screen and (max-width: 600px) {
    background: radial-gradient(
      350px at 0% 70%,
      rgba(225, 54, 54, 0.4) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }

  @media only screen and (min-width: 768px) {
    background: radial-gradient(
      600px at -5% 55%,
      rgba(225, 54, 54, 0.25) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }
}

.gradient_bg_orange_hero {
  @media only screen and (max-width: 767px) {
    background: radial-gradient(
      350px at 120% 32%,
      rgba(225, 54, 54, 0.6) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }

  @media only screen and (min-width: 768px) {
    background: radial-gradient(
      400px at 85% 40%,
      rgba(225, 54, 54, 0.5) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }
}

/* SERVICES SECTION BACKGROUND CIRCLE LIGHTS */

.gradient_bg_purple_services {
  @media only screen and (max-width: 600px) {
    background: radial-gradient(
      350px at 90% 20%,
      rgba(225, 54, 54, 0.5) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }
  @media only screen and (min-width: 768px) {
    background: radial-gradient(
      600px at 90% 50%,
      rgba(225, 54, 54, 0.4) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }
}
.gradient_bg_orange_services {
  @media only screen and (min-width: 768px) {
    background: radial-gradient(
      400px at -5% 60%,
      rgba(225, 54, 54, 0.5) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }
}
.gradient_bg_orange_services_mobile {
  @media only screen and (max-width: 767px) {
    background: radial-gradient(
      350px at -5% 60%,
      rgba(225, 54, 54, 0.5) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }
}

/* FOOTER SECTION BACKGROUND CIRCLE LIGHTS */
.gradient_bg_purple_footer {
  @media only screen and (max-width: 600px) {
    background: radial-gradient(
      250px at 120% 55%,
      rgba(225, 54, 54, 0.7) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }

  @media only screen and (min-width: 768px) {
    background: radial-gradient(
      400px at 15% 105%,
      rgba(225, 54, 54, 0.3) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }
}

.gradient_bg_orange_footer {
  @media only screen and (max-width: 600px) {
    background: radial-gradient(
      250px at 120% 55%,
      rgba(225, 54, 54, 0.7) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }

  @media only screen and (min-width: 768px) {
    background: radial-gradient(
      400px at 85% 105%,
      rgba(225, 54, 54, 0.4) 1%,
      rgba(229, 63, 50, 0) 100%
    );
  }
}
