@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

@layer base {
  h1 {
    font-family: "Poppins" sans-serif;
    font-weight: 700;
    size: 32px;
    line-height: 30px;
  }
  h2 {
    font-family: "Poppins" sans-serif;
    font-weight: 700;
    size: 32px;
    line-height: 30px;
  }
  h3 {
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    size: 24px;
    line-height: 31.2px;
  }
  h4 {
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    size: 16px;
    line-height: 24px;
  }
  .p1-regular {
    font-family: "Poppins" sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 24px;
  }
  .p1-poppins {
    font-family: "Rubik" sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 24px;
  }
  .p2-regular {
    font-family: "Prata" sans-serif;
    font-weight: 400;
    size: 32px;
    line-height: 30px;
  }
}
